<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/tomatoAll.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <title>Agridera Seeds</title>
</head>
<body>
    <section class="banner">
        <nav class="navbar wrapper">
            <div class="logo">   
                <a href="index.html"><img src="./images/logo/logo.png" alt="logo" class="logo_png"></a>
            </div> 
            <input type="checkbox" id="toggler">
            <label for="toggler"><i class="ri-menu-line"></i></label>
            <div class="search ml-auto">
                <input type="text" placeholder="Search" name="search">
                <button type="submit"><img src="./images/ico_search.svg" alt=""></button>
                <hr>
            </div>
            <div class="menu">
                <ul class="list">
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="#">Company Profile</a></li>
                    <li><a href="./tomatoAll.html">Products</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">R & D</a></li>
                    <li><a href="./contactus.html">Contact</a></li>
                </ul>
            </div>
        </nav>
        <div class="bgtomato"></div>
    </section> 

    <section class="main_activ">
        <div class="wrapper">
            <div class="activities_text">Agridera Fresh Market Tangerines Hybrids</div>
            <img src="./images/vision_mission/Union.png" class="activ_union" alt="xxx">
            <div class="main_text">
                <p>
                    Agridera aims to be one of the world's leading companies in the breeding, production, and marketing of tomato seeds.<b> We invest intensively in research and development to provide solutions to growers and consumers in numerous countries around the world.</b> In particular, we breed improved disease-resistant cultivars adapted to different markets globally.
                </p>
                <p>
                    Currently, emphasis is placed on combining Tomato Yellow Leaf Curl Virus (TYLCV) and Tomato Spotted Wilt Virus (TSWV) resistances with other soil borne diseases into superior tomato breeding lines and hybrids. Moreover, comprehensive efforts are being undertaken to develop varieties resistance to TBRFV virus (Tomato Brown Rugose Fruit Virus). 
                </p>
                <p>
                    In terms of horticultural traits, breeding is for earliness, different fruit sizes, firmness, red fruit color, flavor, crack resistance, shelf life, and high/low temperature fruit set. Combinations of quality features and disease resistance are sought in a variety of types, namely round and elongated shapes.
                </p>
                <p class="line">
                    Agirdera Tomato breeding programs are focusing on three main segments: Greenhouse Indeterminate Tomatoes, Open-field Indeterminate Tomatoes, and Bush Type Open-field Tomatoes.
                </p>
            </div>
            <div class="activ_row row">
                <div class="activ_column col-12 col-lg-4">
                    <p class="topic">Greenhouse Tomato Breeding <br>Program</p>
                    <img src="./images/tomatoAll/Line2.svg" class="line" alt="-------">
                    <p class="activ_examples">This breeding is aimed for the Spanish and Turkish markets. For single and cluster picks, round fruit shape and resistances of TYLCV, TSWV, Nematodes and FORL (Fusarium oxysporum f.sp. radicis-lycopersici). Some hybrids may include more resistances, such as Cladosporium and Leveillula Taurica (Lv). </p>
                </div>
                <div class="activ_column col-12 col-lg-4">
                    <p class="topic">Open-field Indeterminate <br>Tomatoes</p>
                    <img src="./images/tomatoAll/Line2.svg" class="line" alt="-------">
                    <p class="activ_examples">This breeding is for Brazilian, Moroccan, and Turkish markets. The main focus is on large round shape fruits (200 grams plus); and resistances of TYLCV, TSWV, Nematodes and FORL. In the near future, F3 (Fusarium oxysporum f.sp. lycopersici) will be included as basic resistance in our cultivars.</p>
                </div>
                <div class="activ_column col-12 col-lg-4">
                    <p class="topic">Open-field Bush Type <br>Tomatoes</p>
                    <img src="./images/tomatoAll/Line2.svg" class="line" alt="-------">
                    <p class="activ_examples">This breeding is for Mediterranean markets. We breed round and elongated shapes, standard sizes (140- 180 grams), and beef sizes (min. 180 grams up to 300 grams and more). We combine the resistances of TYLCV, TSWV and Nematodes as basic resistances in our hybrids. However, some hybrids may include more resistances, such as Cladosporium and Leveillula Taurica (Lv).</p>
                </div>
            </div>
            <p class="line_bold">
                Agridera operates through international and local distributers around the world. 
            </p>
            <div id="app">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-sm-6" v-if="products" v-for="p in products">
                            <a :href="'./tomatoOne.html#'+p.id"><img :src="'./images/tangerineOne/'+p.image" :alt="'tangerine'+p.id"></a>
                            <div class="wh_bg"><a :href="'./tomatoOne.html#'+p.id"><b>{{p.title}}</b><br>{{p.short_text}}</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer1">
        <div class="wrapper">
            <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <ul class="footer__menu">
                            <li class="footer__item"> 
                                <a href="#">PROFILE</a>
                            </li>
                            <li class="footer__item">
                                <a href="#">MANAGEMENT</a>
                            </li>
                            <li class="footer__item">
                                <a href="#">PRODUCTS</a>
                            </li>
                            <li class="footer__item">
                                <a href="#">R&D</a>
                            </li>
                            <li class="footer__item">
                                <a href="#">LINKS</a>
                            </li>
                            <li class="footer__item">
                                <a href="#">SITEMAP</a>
                            </li>
                            <li class="footer__item">
                                <a href="#">CONTACT</a>
                            </li>
                        </ul> 
                    </div>
                    <div class="col-lg-3 d-flex justify-content-center ml-auto">
                        <li class="footer__link">
                            <a href="#"><img src="./images/links/linkedin.svg" alt="linkedin"></a>
                        </li>
                        <li class="footer__link">
                            <a href="#"><img src="./images/links/inst.svg" alt="instagram"></a>
                        </li>
                        <li class="footer__link">
                            <a href="#"><img src="./images/links/youtube.svg" alt="youtube"></a>
                        </li>
                        <li class="footer__link">
                            <a href="#"><img src="./images/links/twitter.svg" alt="twitter"></a>
                        </li>
                        <li class="footer__link">
                            <a href="#"><img src="./images/links/facebook.svg" alt="facebook"></a>
                        </li>
                    </div>
            </div>
        </div>
</section>

<footer>
    <div class="wrapper">
        <div class="row">
            <div class="col d-flex justify-content-center ">
                AGRIDERA SEEDS & AGRICULTURE LTD. © 2020
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="./js/main.js"></script>
</body>
</html>